@charset "UTF-8";
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
  body{
    width: 320px;
    height: auto;
    display: block;
    margin:0;
    padding: 0;
  }
  #menu{
    width: 320px;
    position: absolute;
    padding: 0;
  }
  #menu li{
    width: 100%;
    font-size: 10px;
    display: block;
    border: 0;
    margin: 5px;
  }
  #menu a{
    font-size: 10px;
    float: none;
    margin:0 10px;
    display: block;
  }
  #main{
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    justify-content: space-around;
  }
  h1{
    width: auto;
  }
  #CTA{
    width: 100%;
    font-size: 13px;
    margin: 5px;
    text-align: center;
  }
  #img img{
    width: 320px;
    height: auto;
  }
  #content{
    float: none;
    width: 250px;
    margin: 0;
  }
  #sideElement{
    width: 320px;
    float: none;
  }
  form{
    margin:10px;
    width: auto;
  }
  #formT{
    margin-top: 100px;
  }
  label{
    width: 200px;
    text-align: center;
  }
  ul.socialicons{
    margin-left: 0;
  }
}

@media print {
  #menu, #menu ul, #menu li{
    display:none;
  }
  body {
    background-color: none;
    color: black;
    margin:1cm;
    display: block;
  }
  form{
    display: none;
  }
  a{
    font-style: italic;
  }
}
